<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image & Video Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icon/themify-icons-font/themify-icons/themify-icons.css') }}">
</head>

<body>
    <div id="container">
        <div id="introduce">
            <h1>YOLO v5 Object Detector</h1>
            <p>Nhận diện đối tượng hoa quả tươi và hoa quả hỏng bằng YOLOv5 với dữ liệu training bao gồm 12 đối tượng bao gồm fresh và stale [apple, banana, bitter_gourd, capsicum, orange, tomato]</p>
        </div>

        <div id="content">
            <form id="upload-form" method="post" enctype="multipart/form-data" style ="width: 700px; padding: 0px; background-color: #111; min-height: 600px; padding-bottom: 25px;">
                <div class="content_form" id="upload-area" style = "margin-right: 5px; width :97%;" >
                    <button id="button-select" class = "btn"><b> source_img</b></button>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img id="imageDisplay" src = "" width="100%" style="display:none">
                        <video id="Video" width="100%" style="display:none"></video>

                    </div>
                    <div class="drop_click">
                        <p><b>Drop Image Here</b> -or- <b>Click to Upload</b></p>
                    </div>
                    <input type="file" id="file-input" style="display: none;" name="media">
                </div>

                <div class="footer_content">
                    <button type="button" id="clear-button" class = "btn">Clear</button>
                    <button type="button" id="submit-button" class = "btn">Submit</button>
                </div>
            </form>

            <div class="form four_part_five" style ="width: 600px;">
                <div class="content-right">
                    <button><b>Detected Objects</b></button>
                    <div class="images">
                        <img id="detectedImage" src="" alt="Detected Image" style="width: 100%; display: none;">
                        <video id="detectedVideo" width="100%" controls style="display: none;"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</body>

</html>
