<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icon/themify-icons-font/themify-icons/themify-icons.css')}}">


</head>
<body>
    <div id="container">

        <!-- neu phan gio thieu  -->
        <div id="introduce">
            <h1>YOLO v3 Object Detector</h1>
            <!-- viet them cac dong gioi thieu o day  -->
            <p style="text-align: center; font-size : 18px; align-items: center;">Nhận diện đối tượng hoa quả tươi và
                hoa quả hỏng bằng YOLOv5 với dữ liệu training bao gồm 12 đối tượng bao gồm fresh và stale [apple,
                banana, bitter_gourd, capsicum, orange, tomato]
            </p>

        </div>

        <!-- neu phan upload file -->

        <div id="content">
            <!-- tao phan ben trai cho noi dung  -->
            <form action="/upload_image" class="form" id="upload-form" method="post">
                <div class="content_form" id="upload-area">
                    <div id="button-select"> <b>source_img</b> </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="" alt="" id="imageDisplay" width="100%">
                    </div>
                    <div class="drop_click">
                        <i class="ti-export"></i>
                        <p><b>Drop Image Here</b></p>
                        <p style="opacity: 0.5;"> -or- </p>
                        <p><b>Click to Upload</b></p>
                    </div>

                    <div class="icon">
                        <i class="ti-export"></i>
                        <i class="ti-world"></i>
                        <i class="ti-clipboard"></i>
                    </div>
                    <input type="file" id="file-input" style="display: none;" name="image">
                    <div id="upload-status"></div>

                </div>

                <!-- tao cac nut clear and submit -->
                <div class="footer_content">
                    <button type="submit" class="disable" id="clear-button"> <b>Clear</b> </button>
                    <button type="submit" class="active" id="submit-button"> <b>Submit</b></button>
                </div>
            </form>


            <!-- tao ben phai cho noi dung  -->
            <div class="form  four_part_five">
                <div class="content-right">
                    <button> <b> <i class="ti-image"> </i>Image with deteced objects</b> </button>
                    <div style="padding-top: 75px;text-align: center; font-size: 25px;opacity: 0.5;">
                        <i class="ti-image"> </i>
                    </div>
                </div>
            </div>

        </div>

        <!-- neu phan hien thi anh  va vi du -->
        <div id="example">
            <p>
                <i class="ti-menu-alt"> </i> <b> Examples </b>
            </p>

            <div class="images">
                <img src="./css/images/anh1.jpg" alt="anh1">
                <img src="./css/images/anh2.jpg" alt="anh2">
                <img src="./css/images/anh3.jpg" alt="anh3">
                <img src="./css/images/anh4.jpg" alt="anh4">
                <img src="./css/images/anh5.jpg" alt="anh5">
            </div>

            <div class="infor">
                <p> <b>More info :</b></p>
                <ul>
                    <li>Back end Code</li>
                    <li>HuggingFace Spaces App</li>
                    <li>Submit an issues</li>
                </ul>
            </div>

        </div>

    </div>

</body>

<script src="{{ url_for('static', filename='javascript/main.js') }}"></script>

</html>